[user]
	name = Robert Matson
	email = 88677843+robertjmatson@users.noreply.github.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[safe]
	directory = /home/robert/dev/tools/dokuwiki
